body {
    font-family: "Roboto", sans-serif;
}

.cabecalho {
    background-color: #808080;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 60px;

}

.container {
    /* background-color: #f0f0f0; */
    max-width: 1170px;
    margin: 0 auto;
}

.container .produtos {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 32px;
    letter-spacing: 2px;
}

.container .filtros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.container .categorias-itens,
.container .preco-itens {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.container label {
    letter-spacing: 2px;
    font-weight: 500;
}

.container .categorias-itens select,
.container .preco-itens input {
    padding: 16px 13px;
    border-radius: 2px;
    border: 2px solid #808080;
    background-color: #f2eefa;
    color: #130234;
}

.container select:focus,
.container input:focus,
.container select:focus-visible,
.container input:focus-visible {
    outline: none;
}

.container .categoria {
    appearance: none;
    background: url(../images/pata-gato.png) 97% center no-repeat;
    background-size: 16px 16px;
    padding-right: 10px;
    cursor: pointer;
}

.container .filtros .btn-filtrar {
    border: none;
    background-color: #808080;
    color: #ededed;
    padding: 16px 32px;
    font-weight: 500;
    align-self: end;
    width: 177px;
    height: 52px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}

.container .filtros .btn-filtrar:hover {
    background-color: #6c6c6c;
}

.container .itens {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}

.container .itens .item {
    max-width: 365px;
    background-color: #ededed;
    color: #0e0027;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2)
}

.container .itens .item img {
    width: 100%;
    padding: 20px;
}